@import "mixins/_sprite-png.less";
@import "mixins/_sprite-svg.less";


/*-----------------
/	 SPRITE-PNG
------------------*/

.cover__img--1 {
	.sprite(@cover-1);
}

.cover__img--2 {
	.sprite(@cover-2);
}

.cover__img--3 {
	.sprite(@cover-3);
}

.cover__img--4 {
	.sprite(@cover-4);
}


/*-----------------
/	SPRITE-SVG
------------------*/

.sprite-svg(){
	display: inline-block;
	background-image: url(@sprite-svg-path);
	content: '';
} 

.header__burger {

	&:before {
		.burger();
	}
}

.year-nav__prev {

	&:before{
		.year-prev();
	}

	&--disabled {
		cursor: default !important;

		&:before{
			.year-prev-disabled();
		}
	}
}

.year-nav__next {

	&:before{
		.year-next();
	}

	&--disabled {
		cursor: default !important;

		&:before{
			.year-next-disabled();
		}
	}
}

.search__btn {

	&:before {
		.search-icon();
	}
}

.text-icon {

	.sprite-svg();

	&--1 {
		.water();
	}

	&--2 {
		.pot();
	}
}

.menu__close {
	
	&:before {
		.sprite-svg();
		.close();
	}
}


.social__btn {

	&--tw {
		.soc-twit();
	}

	&--in {
		.soc-link();
	}

	&--fb {
		.soc-fb();
	}
}


