/*----------------
/	   BASIC
-----------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  font: 1em/1.5 sans-serif;
}

article,
aside,
main,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
address {
  display: block;
}

time {
  display: inline-block;
}

address {
  font-style: normal;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

a img {
  border: none;
  outline: none;
}

input,
textarea,
button {
  outline: 0;
  border: 0;
}

button {
  cursor: pointer;
}

figure {
  position: relative;
}

figure img,
figure video,
figure object,
figure embed {
  display: inline-block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

/*-----------------
/	   FONTS
------------------*/

/*CircularStd-Black*/

@font-face {
  font-family: 'CircularStd-Black';
  src: url("../fonts/CircularStd-Black/CircularStd-Black.eot");
  src: local('☺'), url("../fonts/CircularStd-Black/CircularStd-Black.woff") format('woff'), url("../fonts/CircularStd-Black/CircularStd-Black.ttf") format('truetype'), url("../fonts/CircularStd-Black/CircularStd-Black.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

/*CircularStd-Medium*/

@font-face {
  font-family: 'CircularStd-Medium';
  src: url("../fonts/CircularStd-Medium/CircularStd-Medium.eot");
  src: local('☺'), url("../fonts/CircularStd-Medium/CircularStd-Medium.woff") format('woff'), url("../fonts/CircularStd-Medium/CircularStd-Medium.ttf") format('truetype'), url("../fonts/CircularStd-Medium/CircularStd-Medium.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

/*CircularStd-Bold*/

@font-face {
  font-family: 'CircularStd-Bold';
  src: url("../fonts/CircularStd-Bold/CircularStd-Bold.eot");
  src: local('☺'), url("../fonts/CircularStd-Bold/CircularStd-Bold.woff") format('woff'), url("../fonts/CircularStd-Bold/CircularStd-Bold.ttf") format('truetype'), url("../fonts/CircularStd-Bold/CircularStd-Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

/*-----------------
/	SPRITE-SVG
------------------*/

.header__burger:before {
  width: 44px;
  height: 44px;
  background-position: 0px 0px;
}

.year-nav__prev:before {
  width: 5.909px;
  height: 9.78px;
  background-position: -49.97px -33.969px;
}

.year-nav__prev--disabled {
  cursor: default !important;
}

.year-nav__prev--disabled:before {
  width: 5.909px;
  height: 9.78px;
  background-position: -55.879px -33.969px;
}

.year-nav__next:before {
  width: 5.97px;
  height: 9.78px;
  background-position: -57.97px -20px;
}

.year-nav__next--disabled {
  cursor: default !important;
}

.year-nav__next--disabled:before {
  width: 5.97px;
  height: 9.78px;
  background-position: -44px -33.969px;
}

.search__btn:before {
  width: 13.97px;
  height: 13.969px;
  background-position: -44px -20px;
}

/*=====================
/	  BLOCK-ELEMS
======================*/

/*WRAP*/

.wrap {
  width: 87.5%;
  min-height: 100%;
}

/*HEADER*/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 365px;
}

.header__bar {
  width: 28.57%;
  padding: 65px 30px 0 75px;
  background: #f7f5f2;
  font-family: 'CircularStd-Black';
}

.header__month {
  font-size: 2.8125em;
  line-height: 1.1;
  color: #415d33;
}

.header__burger {
  position: absolute;
  top: 65px;
  left: 0;
  background: transparent;
}

.header__burger:before {
  display: inline-block;
  background-image: url("../img/sprite-svg.svg");
  content: '';
}

.header__main {
  width: 71.425%;
  padding: 65px 65px 0 0;
  background: #738029 url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
}

/*YEAR*/

.year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
}

.year__cur {
  padding-left: 3px;
  font-size: 1.125em;
  color: #74975f;
}

/*YEAR-NAV*/

.year-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 45px;
  margin-top: 2px;
}

.year-nav__prev,
.year-nav__next {
  display: inline-block;
  cursor: pointer;
}

.year-nav__prev:before,
.year-nav__next:before {
  display: inline-block;
  background-image: url("../img/sprite-svg.svg");
  content: '';
}

/*SEARCH*/

.search {
  width: 220px;
  height: 44px;
  float: right;
  overflow: hidden;
  border-radius: 13px;
  background: #fff;
}

.search__text {
  height: 45px;
  padding-left: 18px;
  line-height: 45px;
  font-family: 'CircularStd-Medium';
  color: #dad1a7;
}

.search__text::-webkit-input-placeholder {
  font-family: 'CircularStd-Medium';
  color: #dad1a7;
}

.search__text:-moz-placeholder {
  font-family: 'CircularStd-Medium';
  color: #dad1a7;
}

.search__text::-moz-placeholder {
  font-family: 'CircularStd-Medium';
  color: #dad1a7;
}

.search__text:-ms-input-placeholder {
  font-family: 'CircularStd-Medium';
  color: #dad1a7;
}

.search__btn {
  width: 45px;
  height: 45px;
  float: right;
  background-color: #fff;
  text-align: right;
}

.search__btn:before {
  margin-right: 20px;
  display: inline-block;
  background-image: url("../img/sprite-svg.svg");
  content: '';
}

/*WEEKDAYS*/

.weekdays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  bottom: 65px;
  width: 100%;
  height: 120px;
}

.weekdays__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 14.285%;
  padding: 20px 30px 30px 0;
  border-left: 1px solid #698d59;
  background: #74975f;
  text-align: right;
  color: rgba(230, 215, 172, 0.6);
  font: 1.125em 'CircularStd-Bold';
}

.weekdays__item--cur {
  position: relative;
  color: #e6d7ac;
  background: #638755;
}

.weekdays__item--cur:before {
  position: absolute;
  top: 22px;
  right: 30px;
  line-height: 1;
  content: 'Today';
  color: rgba(63, 102, 64, 0.5);
}

/*WEEK-NAV*/

.week-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 28.57%;
}

.week-nav__prev,
.week-nav__next {
  display: inline-block;
  height: 65px;
  width: 50%;
  background: rgba(18, 63, 0, 0.5);
  border-left: 1px solid rgba(232, 235, 230, 0.3);
  color: rgba(230, 224, 196, 0.7);
  font-family: 'CircularStd-Medium';
  line-height: 65px;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.week-nav__prev:hover,
.week-nav__next:hover {
  background: rgba(18, 63, 0, 0.65);
  color: rgba(230, 224, 196, 0.9);
}

.week-nav__prev {
  padding-left: 26px;
  text-align: left;
}

.week-nav__next {
  padding-right: 26px;
  text-align: right;
}

/*SIDEBAR*/

.sidebar {
  width: 14.285%;
  min-height: 100%;
  float: right;
  background: #f7f5f2;
}

.sidebar__nav {
  padding: 140px 20% 0 25%;
}

/*NEXT-MONTH*/

.next-month {
  position: relative;
  height: 365px;
  padding-top: 60px;
  border: 1px solid #e7e7e7;
  text-align: right;
}

.next-month__title {
  font: 3.4375em/1 'CircularStd-Black';
  color: rgba(231, 231, 231, 0.5);
}

.next-month__bg {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 184px;
  width: 55px;
  background: url("../img/month-bg.jpg");
  background-size: cover;
}

/*MENU*/

.menu {
  font-family: 'CircularStd-Bold';
}

.menu__item {
  margin-bottom: 20px;
}

.menu__link {
  display: block;
  position: relative;
  padding: 5px 10px 5px 0;
  color: rgba(116, 151, 95, 0.6);
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.menu__link:after {
  position: absolute;
  right: 0;
  content: '+';
  color: #afbfa2;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.menu__link:hover {
  color: rgba(116, 151, 95, 0.85);
}

.menu__link:hover:after {
  color: rgba(116, 151, 95, 0.85);
}

.menu__link--locked {
  color: rgba(193, 193, 193, 0.5);
  cursor: default;
}

.menu__link--locked:after {
  content: '-';
  color: #d7d7d5;
}

.menu__link--locked:hover {
  color: rgba(193, 193, 193, 0.5);
}

.menu__link--locked:hover:after {
  color: rgba(193, 193, 193, 0.5);
}

/*------------------------
/    RESPONSIVE laptop
-------------------------*/

@media only screen and (max-width: 1299px) {
  /*---------------
	/  TITLE laptop
	----------------*/
}

/*------------------------
/    RESPONSIVE tablet
-------------------------*/

@media only screen and (max-width: 1009px) {
  /*---------------
	/  TITLE tablet
	----------------*/
}

/*--------------------------
/    RESPONSIVE mob-L
---------------------------*/

@media only screen and (max-width: 789px) {
  /*--------------
	/  TITLE mob-L
	---------------*/
}

/*------------------------
/    RESPONSIVE mob-M
-------------------------*/

@media only screen and (max-width: 519px) {
  /*--------------
	/  TITLE mob-M
	---------------*/
}