.burger(){
	width: 44px;
	height: 44px;
	background-position: 0px 0px;
}

.close(){
	width: 20px;
	height: 20px;
	background-position: -44px 0px;
}

.search-icon(){
	width: 13.97px;
	height: 13.969px;
	background-position: -44px -20px;
}

.year-next(){
	width: 5.97px;
	height: 9.78px;
	background-position: -57.97px -20px;
}

.year-next-disabled(){
	width: 5.97px;
	height: 9.78px;
	background-position: -44px -33.969px;
}

.year-prev(){
	width: 5.909px;
	height: 9.78px;
	background-position: -49.97px -33.969px;
}

.year-prev-disabled(){
	width: 5.909px;
	height: 9.78px;
	background-position: -55.879px -33.969px;
}


@sprite-svg-width: 64px;
@sprite-svg-height: 44px; 
@sprite-svg-path: '../img/sprite-svg.svg';
